<!-- <div class="outside">
    <div class="inside" *ngFor="let prod of productList">
    <h5>{{prod.name}}</h5>
    <img [src]="prod.Imgurl" alt="" width="250px">
    
    <button value="submit " (click)="exploreList">Explore</button>
</div>
</div> -->
<div class="outside">
    <div class="inside">
       <h5>WATCHES</h5>
       <img src="../../assets/images/img.webp"  width="250px">
       <button value="submit" (click)="explore()">Explore</button>
    </div>
    <div class="inside"> 
        <h5>SHOES</h5>
        <img src="../../assets/images/img2.jpg" width="250px">
        <button value="submit" (click)="explore2()">Explore</button>
    </div>
    <div class="inside"> 
        <h5>SANDALS</h5>
        <img src="../../assets/images/img3.webp"  width="250px">
        <button value="submit" (click)="explore3()">Explore</button>
        
    </div>
</div>
