<div class="nav">
    <ul>
      <li><img src="../assets/images/logo-removebg-preview.png" alt="lucifer.in"  width="100px" height="100px"></li>
      <li><a routerLink="login-user" routerLinkActive="Selectedlink" class="a">LOGIN </a></li>
      <!-- <li><a routerLink="register-user" routerLinkActive="Selectedlink" class="a"></a></li> -->
      <li><a routerLink="Home" routerLinkActive="Selectedlink" class="a">HOME </a></li>
      <li><input type="search" placeholder="Search" class="search"></li>
      <li><a href="#" class="a">Orders</a></li>
      <li><a href="mailto:mukeshselvam0820@gmail.com" class="a"  target="_blank">Gmail</a></li>
      <li><a href="tele:6380379418" class="a" target="_blank" aria-placeholder="6380379418">Contact</a></li>
      
      
    </ul>
    
  </div>
  <router-outlet></router-outlet>
  
  <app-footer></app-footer>
