<!-- <ul style="list-style-type: none; ">

    <li><a routerLinkActive="SelectedLink" routerLink="nothing">  </a></li>
</ul>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLinkActive="SelectedLink" routerLink="login-user">Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"  routerLinkActive="SelectedLink" routerLink="register-user">Register</a>
          </li>
          <li><a class="nav-link" routerLinkActive="SelectedLink" routerLink="Home">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="SelectedLink" routerLink="about">About-Us</a>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->

<!-- </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet> 
  <app-footer></app-footer> -->



  

<div class="nav">
  <ul>
    <li><img src="../assets/images/logo-removebg-preview.png" alt="lucifer.in"  width="100px" height="100px"></li>
    <li><a routerLink="login-user" routerLinkActive="Selectedlink" class="a">LOGIN </a></li>
    <!-- <li><a routerLink="register-user" routerLinkActive="Selectedlink" class="a"></a></li> -->
    <li><a routerLink="Home" routerLinkActive="Selectedlink" class="a">HOME </a></li>
    <li><input type="search" placeholder="Search" class="search"></li>
    <li><a href="#" class="a" routerLinkActive="SelectedLink">Orders</a></li>
    <li><a href="mailto:mukeshselvam0820@gmail.com" class="a"  target="_blank">Gmail</a></li>
    <li><a href="tele:6380379418" class="a" target="_blank" aria-placeholder="6380379418">Contact</a></li>
    <!-- <li><a routerLink="nothing" routerLinkActive="SelectedLink" class="a">register</a></li> -->
    
    
  </ul>
  
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>