<div class="body">
    <div class="box">
        <p style="font-weight: bolder; color: rgba(0, 0, 0, 0.747); font-size: xx-large;">LOGIN</p>
        <div class="login">
            <label for=""></label><input type="text" placeholder="Username" style="border-radius: 20px; text-align: center;">
        </div>
        <div class="password">
            <label></label><input type="password" placeholder="Password" style="border-radius: 20px; text-align: center; ">

        </div>
        <div>
            <button type="button" (click)="loginsubmit()">submit</button>
        </div>
    </div>
</div>
